
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    color: #4D4036;
    padding: 0;
    margin: 0;
    align-content: center;
}

.no-gutters{
    padding: 0;
    margin: 0 auto;
}

.container-fluid {
    max-width: 1200px;
}

.container {
    max-width: 1200px;
}



/* ------------------------------------- Header - Logo Banner */

header {
    margin: 0;
    align-content: center;
}

.container-logo {
    height: auto;
}

.banner-logo {
    height: auto;
    max-width: auto;
    margin-top: 20px;
    vertical-align: center;
}

.logo-quintain {
    height: 100px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("/assets/images/logo-quintain.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-wp {
    height: 100px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url("/assets/images/logo-wp.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* -------------------------------------  Header - Navigation Bar */

.list-inline-item:not(:last-child) {
    margin: 0;
    padding: 0;
}

.menucontainer {
    font-size: 0;
    padding: 0;
}

#nav {
    margin: 0; 
    padding: 0; 
}

.menuitem {
    padding: 0;
    margin: 0;
}

.navbar li .menuitem-project1 {
    display: none;
    position: relative;
    margin: 0 auto;
    opacity: 0.5;
}

.menuitem:hover .menuitem-project1{
    display: block;
    z-index: 1100;
    animation-name: slide-down;
    animation-duration: .5s;
}

@keyframes slide-down {
    from {height: 0;}
    to {height: 100;}
}

.navbar li {
    display: inline-block;
    font-size: 15px;
    font-weight: 200;
    line-height: 40px;
    max-height: 40px;
    border-top: 1px solid #4D4036;
    border-bottom: 1px solid #4D4036;
    vertical-align: middle;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    }

/* ------------------------------------- Navitation Bar - small screen */

.btn {

}

.btn-default {
    padding: 0;
    box-shadow: 0px 0px 0px 0px;
    color: #4D4036;
    font-size: 15px;
    font-weight: 200;
    line-height: 40px;
    border-top: 1px solid #4D4036;
    border-bottom: 1px solid #4D4036;
    border-radius: 0;   
}

.btn-default:focus, .btn-default.focus {
    box-shadow: 0px 0px 0px 0px;
    font-size: 15px;
    font-weight: bolder;
}

.dropdown-menu {
    width: 100%;
    text-align: center;
    border: 0px solid white;
    margin: 0;
    padding: 0;
}

.dropdown-item {
    color: #4D4036;
    font-size: 15px;
    font-weight: 200;
}

a.dropdown-item {
    font-weight: 200;
}

.dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus {
    background-color: rgba(77, 64, 54, 0.11);
    color: #4D4036;
}

/* ------------------------------------- Main Section */

.overview {
    display: block;
    border-right: 1px solid rgba(77, 64, 54, 0.5);
}

.overview, .chartbox {
    padding: 0 10px;
    margin: 20px 0;
}

.overview h1, .chartbox h1 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.overview p {
    max-width: 90%;
    align-content: center;
    font-size: 13px;
    font-weight: 200;
    text-align: justify;
    margin: auto;
}




/* ------------------------------------- Timeline */

/* Modal Button */

.btn-secondary {
    display: block;
    width: 300px;
    padding: 10px 20px;
    margin: 15px auto;
    background-color: #7A9499;
    color: #2E474D;
    border: 0px solid #7A9499;
    align-content: center;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus {
    background-color: #2E474D;
    color: #7A9499;
    border: 0px solid white;
    box-shadow: 0 0 0 0;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #2E474D;
    color: #7A9499;
    border: 0px solid white;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0;
}

/* Timeline Chart */

.modal-dialog {
    margin: 250px auto;
}

.modal-body {
    overflow-x: auto;
    padding: 0px;
    margin: 20px 20px 0 20px;
}





/* ------------------------------------- Charts */


#chart_div {
    margin: 0 auto;
}

.chart {
    margin: 0 auto;
    min-height: 200px
}

/* ------------------------------------- Gallery */

.gallery {
    margin: 25px auto;
}

.gallery h1 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.container-carousel {
    width: 60vw;
    padding: 0 10vw;
    margin-top: 10px;
    background-color: rgba(77, 64, 54, 0.185);
}

@media screen and (max-width: 768px) {
    .container-carousel {
        width: 70vw;
        padding: 0;
        margin-top: 25px;
}}

/* ------------------------------------- Footer */

.footer-container {
    padding: 0;
    padding-top: 15px;
}

.footerrow {
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(77, 64, 54, 0.15);
}

.footer-col-map {
    display: inline-flex;
}

.footer-col-web {
    display: inline-flex;
    text-align: right;
    font-size: 14px; 
}

.footer-col-web p, .footer-col-web a {
    margin: auto;
}

.footer-col-web img {
    height: 14px;
    
}

.btn-light {
    color: #4D4036;
    background-color: #ffffff;
    font-weight: 100;
}

.btn-light:hover, .btn-light:focus, .btn-secondary.light {
    background-color: rgba(77, 64, 54, 0.05);
    border: 0px solid #ffffff;
    box-shadow: 0 0 0 0;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #4D4036;
    background-color: rgba(77, 64, 54, 0.05);
    border-color: #ffffff;
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0;
}

#map {
    height: 300px;
    width: 100%;
}